header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 30px;
    border-bottom: 1px solid rgb(84, 58, 21);
    padding: 2px 20px;
    -webkit-app-region: drag;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

h1 {
    font-size: 20px;
    color: rgb(255, 170, 50);
    margin: 0;
    padding: 0;
    transform: translateY(-2.5px);
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background-color: #27c93f;
}

.yellow {
    background-color: #ffbd2e;
}

.red {
    background-color: #ff605c;
}

html, body {
    overflow: hidden;
    background: transparent;
}

.container {
    border: 2px solid rgb(84, 58, 21);
    box-sizing: border-box;
    border-radius: 20px;
    background-color: black;
    min-width: 500px;
    min-height: 300px;
}
main {
    padding: 20px;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
    -webkit-app-region: no-drag;
}

button img {
    display: block;
}